#myChart{
    max-width: 600px; /* Adjust the width as needed */
    margin-left: 0; /* Align to the left */
    margin-right: auto; /* Keep it centered on the right side */
    height: 400px; /* Adjust the height as needed */
}