svg path{
    cursor: pointer;
}
svg path:hover{
    fill: pink;
}

*{
    margin: 0;
    padding: 0;
}

body{
    overflow-y: hidden;
    overflow-x: hidden;
}

#name{
    position: absolute;
    background-color: white;
    width: fit-content;
    opacity: 0;
    border-radius: 5px;
    border: 3px solid black;
    padding: 5px;
    font-size: 1.5rem;
}

#api{
    position: absolute;
    background-color: white;
    width: fit-content;
    border-radius: 5px;
    border: 3px solid black;
    padding: 5px;
    font-size: 1.5rem;
}