.bg-accent {
  background-color: var(--accent-color) !important;
}

.btn-accent {
  color: #fff !important;
  background-color: var(--accent-color) !important;
  border-color: var(--accent-color) !important;
}

.btn-accent:hover {
  color: #fff !important;
  background-color: darken(var(--accent-color), 10%) !important;
  border-color: darken(var(--accent-color), 10%) !important;
}

.loading-bar-progress {
  transition: width 0.3s ease;
}
