:root {
  /* CSS HEX */
  --emerald: #23ce6bff;
  --gunmetal: #272d2dff;
  --ghost-white: #f6f8ffff;
  --purpureus: #a846a0ff;
  --davys-gray: #50514fff;
  --gunmetalfaded: #475252;
  --darkblue: #151e3f;
  --darkerblue: #151e3f;
  --lightgrey: #eaeaee;
  --darkcolor1: #030027;
}

.border-darkcolor1 {
  border: 1px solid var(--darkcolor1) !important;
}

.border-bottom {
  border-color: var(--darkcolor1) !important;
}

.bg-darkcolor1 {
  background-color: var(--darkcolor1);
}

.bg-darkblue {
  background-color: var(--darkblue);
}

.bg-lightgrey {
  background-color: var(--lightgrey);
}

.bg-darkerblue {
  background: var(--darkerblue);
}

.btn-darkerblue {
  background-color: var(--darkerblue);
  color: var(--ghost-white);
  border-style: none;
}

.btn-darkerblue:hover {
  background-color: var(--darkerblue);
  color: var(--gunmetal);
}
.bg-emerald {
  background-color: var(--emerald);
}

.bg-gunmetal {
  background-color: var(--gunmetal);
}

.bg-ghost-white {
  background-color: var(--ghost-white);
}

.btn-ghostwhite {
  background-color: var(--ghost-white);
  color: var(--gunmetal);
  border: none;
}

.btn-ghostwhite:hover {
  background-color: var(--darkerblue);
  color: var(--ghost-white);
  border: none;
}

.bg-purpureus {
  background-color: var(--purpureus);
}

.bg-davys-gray {
  background-color: var(--davys-gray);
}

.text-emerald {
  color: var(--emerald);
}

.text-gunmetal {
  color: var(--gunmetal);
}

.text-ghost-white {
  color: var(--ghost-white) !important;
}

.text-purpureus {
  color: var(--purpureus);
}

.text-davys-gray {
  color: var(--davys-gray);
}
body {
  background-color: var(--ghost-white);
}

body .offcanvas {
  max-width: 20rem;
}

.active-style {
  color: #ff0000; /* Choose a color that stands out */
  /* Additional styling if needed */
}

.navbar-brand img {
  max-height: 50px;
  width: auto;
}

.nav-link {
  font-size: 1.2rem;
}

.nav-item {
  margin-right: 20px;
}

.nav-item:last-child {
  margin: 0;
}

.custom-font-size-1 {
  font-size: 5rem;
}

.custom-font-size-2 {
  font-size: 4.5rem;
}

.custom-font-size-3 {
  font-size: 4rem;
}

.custom-font-size-4 {
  font-size: 3.5rem;
}

.custom-font-size-5 {
  font-size: 3rem;
}

.custom-font-size-6 {
  font-size: 2.5rem;
}

.heroimage {
  position: relative;
  min-height: 100vh; /* Full height of the viewport */
  overflow: hidden; /* Prevents the image from exceeding the hero section */
}

.heroimage-bg {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Cover the area without squeezing the image */
  object-position: right center; /* Focus on the right side of the image */
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;
  filter: grayscale(60%); /* Apply grayscale filter to the image */
}

.display-1 {
  font-weight: bolder !important;
}
/* Apply the blue overlay */
.heroimage::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 50%; /* Apply overlay to the left half only */
  height: 100%;
  z-index: 1; /* Above the image, below the content */
}

/* Make sure the content of .heroimage is above the pseudo-elements */
.heroimage > .container {
  position: relative;
  z-index: 2;
}

/* Make sure the content of .heroimage is above the pseudo-elements */
.heroimage > .container {
  position: relative;
  z-index: 2;
}

.btn {
  border-radius: 0;
}

.navbar {
  transition: background-color 0.5s;
}

.pt-6,
.py-6 {
  padding-top: 4rem;
}

.py-6 {
  padding-bottom: 4rem;
}

.pb-6 {
  padding-bottom: 4rem;
}

.custom-text-color {
  color: #000000 !important;
}

.bottom-image {
  opacity: 10%;
  width: 1920px;
  height: 500px;
  object-fit: cover;
}

.custom-underline {
  text-decoration: underline;
  line-height: normal;
}

.slightly-above-center {
  transform: translateY(-12%);
}

.icon-style {
  font-size: 5rem;
  margin-bottom: 2rem;
}

.py-8rem {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

/* The following are new or conflicting rules that have been resolved */
.custom-padding {
  padding-top: 15rem;
  padding-bottom: 10rem;
}

.pt-7 {
  padding-top: 6rem;
}
/* The .py-* classes have been standardized according to the first code snippet */
.py-7 {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.py-8 {
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
}

.py-9 {
  padding-top: 9rem;
  padding-bottom: 9rem;
}

.py-10 {
  padding-top: 10.5rem;
  padding-bottom: 10.5rem;
}

.logos {
  font-size: 3rem;
}

.logos-padding {
  padding-left: 20rem;
  padding-right: 20rem;
}

.custom-img-size {
  max-width: 65%; /* or any percentage or fixed width you desire */
  height: auto; /* maintain aspect ratio */
}

.btn-ghost-white {
  color: var(--gunmetal);
  background: var(--ghost-white);
}

.btn-custom {
  color: var(--ghost-white);
  background: var(--gunmetal);
  transition: background-color 0.3s, color 0.3s; /* Add smooth transition */
}

.btn-custom:hover {
  color: var(--gunmetal);
  background: var(--ghost-white); /* Use var() for background property */
}

.image-gallery {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.image-gallery::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}

.footer {
  background: var(--darkblue);
}

.quiz-card {
  margin-bottom: 1rem;
  background: var(--darkblue);
  color: var(--ghost-white);
}
.quiz-card .card-body {
  font-size: 1.25rem; /* Larger font size */
}
.question {
  font-size: 1.5rem; /* Even larger font size for questions */
  font-weight: bold;
}

.custom-card {
  border-radius: 20px; /* Rounded corners */
  border: 2px solid #e1e1e1; /* Grey border */
  transition: transform 0.3s; /* Smooth transition for hover effect */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow effect on hover */
}
.custom-card:hover {
  transform: translateY(-5px); /* Slight lift on hover */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow effect on hover */
}
.card-body {
  text-align: center; /* Center the text */
}
.card-title {
  font-size: 6rem; /* Large number font size */
  color: var(--darkblue); /* Dark grey color for the number */
}
.card-text {
  color: #666; /* Lighter grey color for the text */
  font-size: 1rem;
}

.font-weight-extra-bold {
  font-weight: 400 !important; /* You can use 700 for bold or 900 for extra bold, depending on what you need */
}

.image-container {
  position: relative;
  padding-bottom: 10%; /* Adjust this value to give space for the image overhanging into the next section */
}

.half-image {
  position: absolute;
  left: 50%;
  bottom: -50%; /* This should be half of the image's height to center it on the boundary */
  transform: translate(
    -50%,
    50%
  ); /* Center horizontally and move up 50% of the image's height */
  width: auto; /* Adjust width as necessary, could be 100% if you want it full width */
  max-width: 100%; /* Ensures the image is responsive and does not exceed its parent's width */
  height: auto; /* Maintain aspect ratio */
}

/* Additional CSS to ensure text in the next section clears the overhanging image */
#second-section {
  clear: both;
  padding-top: 35%; /* Adjust this value based on the size of the image to prevent overlap */
}
