:root {
  /* CSS HEX */
  --emerald: #23ce6bff;
  --gunmetal: #272d2dff;
  --ghost-white: #f6f8ffff;
  --purpureus: #a846a0ff;
  --davys-gray: #50514fff;
  --gunmetalfaded: #475252;
  --spacecadet: #151e3f;
  --oxfordblue: #030027;
  --lightgrey: #eaeaee;
  --buff: #dc9e82;
  --oldrose: #c16e70;
}

.gameback {
  background-image: linear-gradient(
    to bottom right,
    var(--ghost-white),
    var(--oxfordblue)
  );
}
.footer-sections {
  color: var(--lightgrey);
}
.border-oxfordblue {
  border: 1px solid var(--oxfordblue) !important;
}

.bg-oxfordblue {
  background-color: var(--oxfordblue);
}

.bg-spacecadet {
  background-color: var(--spacecadet) !important;
}

.bg-lightgrey {
  background-color: var(--lightgrey);
}

.bg-spacecadet {
  background: var(--spacecadet);
}

.btn-spacecadet {
  background-color: var(--spacecadet);
  color: var(--ghost-white);
  border-style: none;
}

.btn-spacecadet:hover {
  background-color: var(--oxfordblue);
  color: var(--ghost-white);
}
.btn-spacecadet:focus {
  background-color: var(--oxfordblue);
  color: var(--ghost-white);
}

.border-bottom-offcanvas {
  border-color: var(--ghost-white) !important;
}

.btn-ghostwhite {
  background-color: var(--ghost-white);
  color: var(--gunmetal);
  border: none;
}

.btn-ghostwhite:hover {
  background-color: var(--lightgrey);
  color: var(--spacecadet);
  border: none;
}

.text-buff {
  color: var(--buff);
}

.text-spacecadet {
  color: var(--spacecadet);
}
.bg-oldrose {
  background-color: var(--oldrose);
}

.text-gunmetal {
  color: var(--gunmetal);
}

.text-ghost-white {
  color: var(--ghost-white) !important;
}

.btn-outline-ghostwhite {
  color: var(--ghost-white); /* Text color */
  border-color: var(--ghost-white); /* Border color */
  background-color: transparent; /* Ensure background is transparent */
}

.btn-outline-ghostwhite:hover {
  background-color: var(--ghost-white); /* Background color on hover */
  color: var(--gunmetal); /* Text color on hover */
}
body {
  background-color: var(--ghost-white);
}

body .offcanvas {
  max-width: 20rem;
}

.navbar-brand img {
  max-height: 50px;
  width: auto;
}

.nav-link {
  font-size: 1.3rem;
}

.nav-item {
  margin-right: 20px;
}

.nav-item:last-child {
  margin: 0;
}

.heroimage {
  position: relative;
  min-height: 100vh; /* Full height of the viewport */
  overflow: hidden; /* Prevents the image from exceeding the hero section */
}

.heroimage-bg-index {
  width: 100%;
  height: 130vh;
  object-fit: cover; /* Cover the area without squeezing the image */
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  filter: brightness(0.7); /* Adjust the value as needed */
}

.heroimage-bg-impact {
  object-fit: cover; /* Cover the area without squeezing the image */
  width: 100%;
  height: 130vh;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

.container-fluid.heroimage {
  position: relative;
  overflow: hidden; /* Prevents image overflow */
}

/* Apply the blue overlay */
.heroimage::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 50%; /* Apply overlay to the left half only */
  height: 130vh;
  z-index: 1; /* Above the image, below the content */
}

/* Make sure the content of .heroimage is above the pseudo-elements */
.heroimage > .container {
  position: relative;
  z-index: 2;
}

/* Make sure the content of .heroimage is above the pseudo-elements */
.heroimage > .container {
  position: relative;
  z-index: 2;
}

.btn {
  border-radius: 0;
}

.navbar {
  transition: background-color 0.5s;
}

.ps-6 {
  padding-left: 4rem;
}

.custom-underline {
  text-decoration: underline;
  line-height: normal;
}

.slightly-above-center {
  transform: translateY(-12%);
}

/* The following are new or conflicting rules that have been resolved */
.custom-padding {
  padding-top: 20rem;
  padding-bottom: 10rem;
}

.custom-padding-about {
  padding-top: 20rem;
  padding-bottom: 10rem;
}
/* The .py-* classes have been standardized according to the first code snippet */
.py-lg-9 {
  padding-top: 0rem;
  padding-bottom: 0rem;
}

.footer {
  background: var(--spacecadet);
}

.navbtn {
  font-size: 1.1rem;
}
.question {
  font-size: 1.5rem; /* Even larger font size for questions */
  font-weight: bold;
}

.custom-card {
  border-radius: 20px; /* Rounded corners */
  border: 2px solid #e1e1e1; /* Grey border */
  transition: transform 0.3s; /* Smooth transition for hover effect */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow effect on hover */
}
.custom-card:hover {
  transform: translateY(-5px); /* Slight lift on hover */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow effect on hover */
}
.card-body {
  text-align: center; /* Center the text */
}
.card-title {
  font-size: 6rem; /* Large number font size */
  color: var(--spacecadet); /* Dark grey color for the number */
}

.text-body-secondary {
  font-size: 1.1rem;
}
/* Additional CSS to ensure text in the next section clears the overhanging image */

.ml-auto {
  margin-left: auto;
}

.bold {
  font-weight: bold;
}

.regularweight {
  font-weight: normal;
}

.custom-row::before {
  content: ""; /* Required for pseudo-elements */
  display: block; /* Makes the pseudo-element behave like a block element */
  height: 1px; /* Thickness of the 'border' */
  background-color: #5f5f5f; /* Color of the 'border', change as needed */
  position: relative; /* Positions the pseudo-element relative to its parent */
  left: 0; /* Ensures the border starts from the left edge */
  top: -20px; /* Increase this value to move the border higher */
}

.rounded-bottom-right {
  border-radius: 0 0 60px 0; /* Adjust the radius as needed */
}

.pt-lg-11 {
  padding-top: 0rem;
}

.downarrow {
  font-size: 4rem;
}

.scroll-to-target .downarrow {
  color: var(--gunmetal);
}

.impact-text-size {
  font-size: 1.5rem;
}

.impacticon {
  font-size: 2rem !important;
}

.circle-icon {
  border-radius: 20%; /* Create a circular shape */
  border-color: black;
  padding-left: 10px;
  padding-right: 10px;
  border: 2px solid black; /* Add a border with a specified color and width */
}

.impact-list {
  font-size: 1.25rem;
  line-height: 1.7;
}

.pt-lg-9 {
  padding-top: 0rem;
}

.textcard {
  font-size: 1.5rem;
}

svg path {
  cursor: pointer;
}
svg path:hover {
  fill: #151e3f;
}

#name {
  position: absolute;
  background-color: white;
  width: fit-content;
  opacity: 0;
  border-radius: 5px;
  border: 3px solid black;
  padding: 5px;
  font-size: 1.5rem;
}

#api {
  position: absolute;
  background-color: white;
  width: fit-content;
  border-radius: 5px;
  border: 3px solid black;
  padding: 5px;
  font-size: 1.5rem;
}

#map {
  height: 90vh;
}

.bg-gold {
  background-color: gold !important;
}

.bg-silver {
  background-color: silver !important;
}

.bg-bronze {
  background-color: #cd7f32 !important; /* Bronze color */
}

.table > :not(caption) > * > * {
  background-color: transparent; /* Override to remove the background color */
  border: 1px solid rgb(61, 61, 61);
}

.sticky-circle {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  background-color: var(--spacecadet);
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 1050; /* Ensure it appears above other content */
}

.no-underline {
  text-decoration: none;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

@media (min-width: 991px) {
  /* Adjust 991px based on the exact lg breakpoint you are using, this targets screens smaller than lg */
  .min-vh-lg-100 {
    min-height: 100vh; /* This will now only apply to screens smaller than lg */
    object-fit: cover;
  }

  .custom-row::before {
    content: ""; /* Required for pseudo-elements */
    display: block; /* Makes the pseudo-element behave like a block element */
    width: 80%; /* Adjust this value to set the border length */
    height: 1px; /* Thickness of the 'border' */
    background-color: #000000; /* Color of the 'border', change as needed */
    position: relative; /* Positions the pseudo-element relative to its parent */
    left: 0; /* Ensures the border starts from the left edge */
    top: -20px; /* Increase this value to move the border higher, this will now only apply to screens smaller than lg */
  }

  .pt-lg-11 {
    padding-top: 13rem;
  }

  .py-lg-9 {
    padding-top: 9rem;
    padding-bottom: 9rem;
  }

  .pt-lg-9 {
    padding-top: 9rem;
  }
}
