.navbar-brand img {
  max-height: 50px; /* Adjust as per your navbar's height */
  width: auto;
}
.nav-link {
  font-size: 1.2rem; /* Adjust the size as needed */
}
.nav-item {
  margin-right: 20px; /* Adjust the spacing as needed */
}

.nav-item:last-child {
  margin: 0;
}
